#first-view {
  height: 800px;
  display: flex;

  @include tab {
    position: relative;
    display: block;
    height: 597px;
  }
}

.fv-box {

  &__title {
    height: 100%;
    width: 48%;
    background-color: #fff;
    position: relative;

    @include tab {
      color: #FFFFFF;
      position: absolute;
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      z-index: 1;
    }
  }

  &__img {
    height: 100%;
    width: 52%;
    background-image: url(../img/blond-woman.png);
    background-size: cover;

    @include tab {
      width: 100%;
      position: absolute;
    }
  }
}

.fv-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tab {
    display: flex;
    flex-direction: column-reverse;
  }

  &__ja {
    font-family: ヒラギノ明朝 Pro, W3;
    font-size: 3.8rem;
    line-height: 65px;
    white-space: nowrap;

    @include tab {
      font-size: 2.3rem;
      line-height: 40px;
    }
  }

  &__en {
    font-family: Zapfino, Regular;
    font-size: 3.8rem;
    line-height: 128px;
    white-space: nowrap;

    @include tab {
      font-size: 2.8rem;
      line-height: 95px;
      letter-spacing: 2.8px;
    }
  }
}