header {
  display: flex;
  align-items: center;
  width: 800px;
  position: absolute;
  padding: 68px 0 0 78px;
  z-index: 10;
}

.hd-logo {
  font-size: 3.8rem;
  letter-spacing: 3.8px;
  font-family: Roboto Mono for Powerline, Regular;
}

.nav {
  ul {
    display: flex;
  }
  
  li {
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    margin-left: 20px;
    color: $fcGray;
    cursor: pointer;

    &:hover {
      color: black;
      border-bottom: 1px solid;
    }
  }
}